.person-search
{
    width: 20vw;
    font-size: 12px;
}
.data-search
{
    width: 30vw;
    font-size: 12px;
}

.mat-divider
{
    height: 45px;
}

.header-bg-color
{
    background-color: #fff;
}

.notifications
{
    padding-top: 10px; 
    cursor: pointer;
}

.user
{
    padding-left: 15px;
}

.padding-space
{
    padding-top: 10px;
}