// @use 'variables';
@use '../../scss/variables';
@use '../../scss/colors';

.person-search
{
    width: 20vw;
    font-size: 12px;
}
.data-search
{
    width: 30vw;
    font-size: 12px;
}

.mat-divider
{
    height: 45px;
}

.notifications
{
    padding-top: calc(#{variables.$rem-\.5} + 2px) ; // 10px
    cursor: pointer;
}

.user
{
    padding-left: variables.$rem-1;
}

.padding-space
{
    padding-top: calc(#{variables.$rem-\.5} + 2px); // 10px
}