.help-menu
{
    height: 35px;
    width: 15vw;
    margin-left: 20px;
    cursor: pointer;
}

.helpdocs-menu-title
{
    font-size: 15px;
}
.helpdocs-menu-subtitle
{
    font-size: 11px;
}
.active
{
    background-color: lightblue;
}