@use '../../../../scss/variables';
@use  '../../../../scss/colors';

.help-menu
{
    height: 65px;
    width: 15vw;
    margin-left: calc(#{variables.$rem-1} + 4px); // 20px
    cursor: pointer;
}

.helpdocs-menu-title
{
    font-size: 15px;
}
.helpdocs-menu-subtitle
{
    font-size: 11px;
}
