@use '../../scss/variables';
@use '../../scss/colors';

.total-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

//  .main {
    //  margin-left: -(variables.$rem-2); // -32px
//  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    -webkit-box-shadow: -1px 0px 29px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 29px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 29px -10px rgba(0, 0, 0, 0.75);
   
  }
  
