

<mat-sidenav-container class="total-container">
    <mat-sidenav mode="side" id="side-nav" opened>

        <mat-nav-list fxLayout="column" fxLayoutGap="20px">

            <img matListAvatar fxFlex="50px" src="../../assets/images/monkey.png" width="50px" height="50px" 
            style="cursor: pointer;" [routerLink]="['/']"
            class="menu-image-margin" alt="main-icon">

            <!-- <mat-divider></mat-divider> -->

            <div fxLayout="column" fxFlex="70px" class="menu-image-margin" style="cursor: pointer;">
            <img matListAvatar src="../../assets/images/user.png" width="50px" height="50px" alt="user">
            <span class="text-color">My Home</span>
            </div>
            
            <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" style="cursor: pointer;">
             <img  src="../../assets/images/feature.png" width="25px" height="25px" alt="features">
             <span class="text-color">Features</span>   
            </div>

            <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" style="cursor: pointer;">
                <img  src="../../assets/images/issues.png" width="25px" height="25px" alt="Issues">
                <span class="text-color">Issues</span>   
               </div>

               <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" style="cursor: pointer;">
                <img  src="../../assets/images/devRequests.png" width="25px" height="25px" alt="Dev Requests">
                <span class="text-color">Dev Requests</span>   
               </div>

               <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" style="cursor: pointer;">
                <img  src="../../assets/images/products.png" width="25px" height="25px" alt="Product">
                <span class="text-color">Product</span>   
               </div>

               <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" style="cursor: pointer;">
                <img  src="../../assets/images/signups.png" width="25px" height="25px" alt="SignUps">
                <span class="text-color">SignUps</span>   
               </div>

               <div fxLayout="column" fxFlex="70px" fxLayoutAlign="center center" [routerLinkActive]="'active'" [routerLink]="['/knowledge']" style="cursor: pointer;">
                <img  src="../../assets/images/knowledge.png" width="25px" height="25px" alt="Knowledge">
                <span class="text-color">Knowledge</span>   
               </div>
         </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>

        <app-header></app-header>
       
        <router-outlet></router-outlet>
     
 
    </mat-sidenav-content>
  </mat-sidenav-container>