#help-content
{
    width: 70vw;
    margin-left: 20px;
}
.content-card
{
margin-bottom: 20px;
}

.helpdocs-admin-content-title
{
    font-size: 18px;
}
.helpdocs-admin-content-subtitle
{
    font-size: 13px;
}
.empty-card
{
    border: 2px dotted skyblue;
}