@use '../../../../scss/variables';
@use '../../../../scss/colors';

.help-content
{
    width: 70vw;
    margin-left: calc(#{variables.$rem-1} + 4px); // 20px
}
.content-card
{
margin-bottom: calc(#{variables.$rem-1} + 4px); // 20px
}

.helpdocs-admin-content-title
{
    font-size: 18px;
}
.helpdocs-admin-content-subtitle
{
    font-size: 13px;
}
.empty-card
{
    border: 2px dotted skyblue;
}
.settings
{
    margin-top: calc(-#{variables.$rem-\.5} - 2px); // -10px
}
