.bgc\(\#ffffff\)
{
    background-color: #ffffff;
}

.bgc\(\#273142\)
{
    background-color: #273142;
}

.c\(\#ffffff\)
{
    color: #ffffff;
}

.bgc\(\#394352\)
  {
      background-color: #394352;
  }

  .bgc\(\#ADD8E6\)
  {
      background-color: #ADD8E6;
  }

  .c\(\#ADD8E6\)
{
    color: #ADD8E6;
}